In [80]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\zhana\\Downloads\\nyc_weather.csv")
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [3]:
df['Temperature'].max()

50

In [4]:
#which days it rains
df['EST'][df.Events == 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [6]:
#average wind speed
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903

In [8]:
df.shape

(31, 11)

In [9]:
df.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [10]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [13]:
df.EST # df['EST']

0      1/1/2016
1      1/2/2016
2      1/3/2016
3      1/4/2016
4      1/5/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
8      1/9/2016
9     1/10/2016
10    1/11/2016
11    1/12/2016
12    1/13/2016
13    1/14/2016
14    1/15/2016
15    1/16/2016
16    1/17/2016
17    1/18/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
21    1/22/2016
22    1/23/2016
23    1/24/2016
24    1/25/2016
25    1/26/2016
26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

In [15]:
#columns that we want to print
df[['Events', 'WindDirDegrees']]

      Events  WindDirDegrees
0          0             281
1          0             275
2          0             277
3          0             345
4          0             333
5          0             259
6          0             293
7          0              79
8       Rain              76
9       Rain             109
10         0             289
11         0             235
12         0             284
13         0             266
14         0             101
15      Rain             340
16  Fog-Snow             345
17      Snow             293
18         0             293
19         0             302
20         0             312
21      Snow              34
22  Fog-Snow              42
23      Snow             327
24         0             286
25         0             244
26      Rain             311
27         0             234
28         0             298
29         0             257
30         0             241

In [16]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.225806,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,3.422569,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,0.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.000000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [17]:
df[df.Temperature >= 32]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [18]:
df[df.Temperature >= df.Temperature.max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109

In [19]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [30]:
df

,EST,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
Temperature,,,,,,,,,,
38,1/1/2016,23,52,30.03,10,8.0,0,5,0,281
36,1/2/2016,18,46,30.02,10,7.0,0,3,0,275
40,1/3/2016,21,47,29.86,10,8.0,0,1,0,277
25,1/4/2016,9,44,30.05,10,9.0,0,3,0,345
20,1/5/2016,-3,41,30.57,10,5.0,0,0,0,333
33,1/6/2016,4,35,30.50,10,4.0,0,0,0,259
39,1/7/2016,11,33,30.28,10,2.0,0,3,0,293
39,1/8/2016,29,64,30.20,10,4.0,0,8,0,79
44,1/9/2016,38,77,30.16,9,8.0,T,8,Rain,76
50,1/10/2016,46,71,29.59,4,0.0,1.8,7,Rain,109
33,1/11/2016,8,37,29.92,10,0.0,0,1,0,289
35,1/12/2016,15,53,29.85,10,6.0,T,4,0,235
26,1/13/2016,4,42,29.94,10,10.0,0,0,0,284
30,1/14/2016,12,47,29.95,10,5.0,T,7,0,266
43,1/15/2016,31,62,29.82,9,5.0,T,2,0,101
47,1/16/2016,37,70,29.52,8,7.0,0.24,7,Rain,340
36,1/17/2016,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
25,1/18/2016,6,53,29.83,9,12.0,T,2,Snow,293
22,1/19/2016,3,42,30.03,10,11.0,0,1,0,293
32,1/20/2016,15,49,30.13,10,6.0,0,2,0,302
31,1/21/2016,11,45,30.15,10,6.0,0,1,0,312
26,1/22/2016,6,41,30.21,9,0.0,0.01,3,Snow,34
26,1/23/2016,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
28,1/24/2016,11,53,29.92,8,6.0,T,3,Snow,327
34,1/25/2016,18,54,30.25,10,3.0,0,2,0,286
43,1/26/2016,29,56,30.03,10,7.0,0,2,0,244
41,1/27/2016,22,45,30.03,10,7.0,T,3,Rain,311
37,1/28/2016,20,51,29.90,10,5.0,0,1,0,234
36,1/29/2016,21,50,29.58,10,8.0,0,4,0,298
34,1/30/2016,16,46,30.01,10,7.0,0,0,0,257
46,1/31/2016,28,52,29.90,10,5.0,0,0,0,241

In [20]:
df.loc[14]

EST                     1/15/2016
Temperature                    43
DewPoint                       31
Humidity                       62
Sea Level PressureIn        29.82
VisibilityMiles                 9
WindSpeedMPH                  5.0
PrecipitationIn                 T
CloudCover                      2
Events                          0
WindDirDegrees                101
Name: 14, dtype: object

In [34]:
df.set_index('Temperature', inplace=True) #without inplace=True it crates new DataFrame

In [36]:
df.reset_index(inplace=True)

In [37]:
df

,Temperature,EST,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,38,1/1/2016,23,52,30.03,10,8.0,0,5,0,281
1,36,1/2/2016,18,46,30.02,10,7.0,0,3,0,275
2,40,1/3/2016,21,47,29.86,10,8.0,0,1,0,277
3,25,1/4/2016,9,44,30.05,10,9.0,0,3,0,345
4,20,1/5/2016,-3,41,30.57,10,5.0,0,0,0,333
5,33,1/6/2016,4,35,30.50,10,4.0,0,0,0,259
6,39,1/7/2016,11,33,30.28,10,2.0,0,3,0,293
7,39,1/8/2016,29,64,30.20,10,4.0,0,8,0,79
8,44,1/9/2016,38,77,30.16,9,8.0,T,8,Rain,76
9,50,1/10/2016,46,71,29.59,4,0.0,1.8,7,Rain,109
10,33,1/11/2016,8,37,29.92,10,0.0,0,1,0,289
11,35,1/12/2016,15,53,29.85,10,6.0,T,4,0,235
12,26,1/13/2016,4,42,29.94,10,10.0,0,0,0,284
13,30,1/14/2016,12,47,29.95,10,5.0,T,7,0,266
14,43,1/15/2016,31,62,29.82,9,5.0,T,2,0,101
15,47,1/16/2016,37,70,29.52,8,7.0,0.24,7,Rain,340
16,36,1/17/2016,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,25,1/18/2016,6,53,29.83,9,12.0,T,2,Snow,293
18,22,1/19/2016,3,42,30.03,10,11.0,0,1,0,293
19,32,1/20/2016,15,49,30.13,10,6.0,0,2,0,302
20,31,1/21/2016,11,45,30.15,10,6.0,0,1,0,312
21,26,1/22/2016,6,41,30.21,9,0.0,0.01,3,Snow,34
22,26,1/23/2016,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,28,1/24/2016,11,53,29.92,8,6.0,T,3,Snow,327
24,34,1/25/2016,18,54,30.25,10,3.0,0,2,0,286
25,43,1/26/2016,29,56,30.03,10,7.0,0,2,0,244
26,41,1/27/2016,22,45,30.03,10,7.0,T,3,Rain,311
27,37,1/28/2016,20,51,29.90,10,5.0,0,1,0,234
28,36,1/29/2016,21,50,29.58,10,8.0,0,4,0,298
29,34,1/30/2016,16,46,30.01,10,7.0,0,0,0,257
30,46,1/31/2016,28,52,29.90,10,5.0,0,0,0,241

In [43]:
df1 =pd.read_csv("C:\\Users\\zhana\\Downloads\\nyc_weather111.csv")
df1.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [52]:
df1['EST'] = pd.to_datetime(df1['EST'])
df1

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [58]:
df2 = pd.read_csv("C:\\Users\\zhana\\Downloads\\nyc_weather111.csv")
df2

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [63]:
df2['Events'].ffill(inplace=True)
df2

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,Rain,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,Rain,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,Rain,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,Rain,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,Rain,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,Snow,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,Snow,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,Snow,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,Snow,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,Snow,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,Rain,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,Rain,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,Rain,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,Rain,241

In [65]:
df2.dtypes

EST                      object
Temperature               int64
DewPoint                  int64
Humidity                  int64
Sea Level PressureIn    float64
VisibilityMiles           int64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover                int64
Events                   object
WindDirDegrees            int64
dtype: object

In [68]:
df2['EST'] = pd.to_datetime(df2['EST'])

In [69]:
df2

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,Rain,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,Snow,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,Snow,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241

In [70]:
df2.dropna(how='all')

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,Rain,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,Snow,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,Snow,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241

In [71]:
df2.set_index('EST')

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,NaN,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Snow,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Snow,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241

In [82]:
df2['Events'].replace(np.NaN, '-', inplace=True)

In [83]:
df2

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,-,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,-,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,-,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,-,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,-,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,-,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,-,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,-,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,Rain,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,Snow,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,Snow,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241

In [88]:
g = df2.groupby('Temperature')

In [94]:
g.max()

,EST,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
Temperature,,,,,,,,,,
20,2016-01-05,-3,41,30.57,10,5.0,0,0,-,333
22,2016-01-19,3,42,30.03,10,11.0,0,1,Snow,293
25,2016-01-18,9,53,30.05,10,12.0,T,3,Snow,345
26,2016-01-23,21,78,30.21,10,16.0,2.31,8,Snow,284
28,2016-01-24,11,53,29.92,8,6.0,T,3,Snow,327
30,2016-01-14,12,47,29.95,10,5.0,T,7,Rain,266
31,2016-01-21,11,45,30.15,10,6.0,0,1,Snow,312
32,2016-01-20,15,49,30.13,10,6.0,0,2,Snow,302
33,2016-01-11,8,37,30.50,10,4.0,0,1,Rain,289
34,2016-01-30,18,54,30.25,10,7.0,0,2,Snow,286
35,2016-01-12,15,53,29.85,10,6.0,T,4,Rain,235
36,2016-01-29,23,66,30.02,10,8.0,0.05,6,Rain,345
37,2016-01-28,20,51,29.90,10,5.0,0,1,Rain,234
38,2016-01-01,23,52,30.03,10,8.0,0,5,-,281
39,2016-01-08,29,64,30.28,10,4.0,0,8,-,293
40,2016-01-03,21,47,29.86,10,8.0,0,1,-,277
41,2016-01-27,22,45,30.03,10,7.0,T,3,Rain,311
43,2016-01-26,31,62,30.03,10,7.0,T,2,Snow,244
44,2016-01-09,38,77,30.16,9,8.0,T,8,Rain,76
46,2016-01-31,28,52,29.90,10,5.0,0,0,Rain,241
47,2016-01-16,37,70,29.52,8,7.0,0.24,7,Rain,340
50,2016-01-10,46,71,29.59,4,NaN,1.8,7,Rain,109